extends layout

block content

    main(role='main')

      .jumbotron
        .container-fluid
          #dash
            img#img-fluid(src='images/dashboard.jpg')
            h1.display-7 SELAMAT DATANG DI WEBSITE UNIVERSITAS !
      .container
        .row
          .col-md-4
            #card
              #card-header 
                Text
              #card-body
                h3 Akreditas
                p
                  | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris 
          .col-md-4
            #card
              #card-body
                h3 Akreditas
                p
                  | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris 
          .col-md-4
            #card
              #card-body
                h3 Akreditas
                p
                  | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris 
        hr

      .container
        .row
          #konten.col-md-4 
            h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            p
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          #konten.col-md-4
            h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            p
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo            
          #konten.col-md-4
            h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            p
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.

        hr

    footer.container
      p © Ade Nurjaman 2020

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"
      integrity="sha256-78rSZBnBJXmJ5VGuWL8mkunvhy94g99Rw53bssjHSUk="
      crossorigin="anonymous"
    )