extends layoutSimak

block content

    main(role='main')

      .jumbotron
        .container-fluid
          if data
            h1.display-7 Selamat datang di portal akademik, #{data.namaLengkap}
            
            p
              | Simak adalah aplikasi untuk membuat rencan study mahasiswa.
            hr
            .container
              .row
                .col-md-4
                  h2  NIM 
                  h2  Nama 
                  h2  Alamat 
                  h2  Jurusan 
                  h2  Fakultas 
                .col-md-5
                  h2 : #{data.nim}
                  h2 : #{data.namaLengkap}
                  h2 : #{data.alamat}
                  h2 : #{data.jurusan}
                  h2 : #{data.fakultas}
          else
            p
              | Mahasiswa tidak terdeteksi
            a.btn.btn-lg(href='/login', role='button') Learn more »

    footer.container
      p © Ade Nurjaman 2020

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"
      integrity="sha256-78rSZBnBJXmJ5VGuWL8mkunvhy94g99Rw53bssjHSUk="
      crossorigin="anonymous"
    )